.nameFieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.nameField {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}
