.credentialsFieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-top: 0px;
}

.credentialsField {
  width: 100%;
  padding: 13px;
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.inputGroup {
  margin-top: 0px;
  margin-bottom: 0px;
}
