.header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: 0px;
  //padding: 10px 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 0;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #f4c542;
  padding-top: 0;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}
