.footer {
  background-color: white;
  bottom: 0;
  padding: 10px 0 64px;
  width: 100%;
  position: relative;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footerText {
  font-size: 10px;
  color: #9e9e9e;
}
