.navigation {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #2d3748;
  border-radius: 9999px;
  padding: 10px;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navLinks li {
  list-style-type: none;
}

@media (min-width: 640px) {
  .navigation {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navigation {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .navigation {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  .navigation {
    width: 60%;
  }
}
