.navigation {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #2d3748;
  border-radius: 9999px;
  padding: 10px;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navLinks li {
  list-style-type: none;
}
