.navigation {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #2d3748;
  padding: 5px;
  box-sizing: border-box;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding-left: 0;
}

.navLinks li {
  list-style-type: none;
}

@media (min-width: 640px) {
  .navigation {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navigation {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .navigation {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  .navigation {
    width: 60%;
  }
}
