.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.loginPageHeader {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.loginPageBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
  flex-grow: 1;
  width: 100%;
}

.formContainer {
  width: 100%;
  max-width: 330px;
  padding: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.inputGroup {
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.inputField:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttonGroup {
  margin-top: 10px;
}

.textGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

.signupLink {
  color: #6799ff;
  text-decoration: none;
}

.signupLink:hover {
  text-decoration: underline;
}

.loginButton {
  width: 100%;
  padding: 12px;
  color: white;
  background-color: #f4c542;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}

.logo {
  font-weight: bold;
  font-size: 1.7rem;
  color: #5d5d5d;
  height: 100px;
  margin: 0 auto;
}
